p-toolbar(styleClass='mb-4 gap-2')
	ng-template(pTemplate='right')
		button.w-125(
			cubButton,
			[disabled]='!configForm.dirty',
			(click)='save()')
			| Lưu
	h4
		| Cài đặt thông tin trang chủ
.layout-row.layout-align-center-start.flex.mt-40
	+if('loaded')
		form.layout-column.layout-align-start-center.layout-gap-20.ph-40.miw-200.maw-600(
			[formGroup]='configForm',
			(ngSubmit)='save()')
			cub-form-field.full-width(
				size='xlarge',
				label='Số điện thoại')
				input(
					cubFormFieldInput,
					autoFocusOn,
					placeholder='Nhập số...',
					type='number',
					formControlName='phone',
					[valueControl]='config?.phone')
			cub-form-field.full-width(
				size='xlarge',
				label='Địa chỉ email')
				input(
					cubFormFieldInput,
					autoFocusOn,
					placeholder='Nhập văn bản...',
					formControlName='email',
					[valueControl]='config?.email')
			cub-form-field.full-width(
				size='xlarge',
				label='Địa chỉ')
				input(
					cubFormFieldInput,
					autoFocusOn,
					placeholder='Nhập văn bản...',
					formControlName='address',
					[valueControl]='config?.address')
			cub-form-field.full-width(
				size='xlarge')
				input(
					cubFormFieldInput,
					autoFocusOn,
					placeholder='Nhập văn bản...',
					formControlName='addressLink',
					[valueControl]='config?.addressLink')
				ng-container(
					cubFormFieldLabel)
					.layout-row.layout-align-space-between-center.layout-gap-4
						| Đường dẫn địa chỉ
						button(
							cubBasicButton,
							size='small',
							iconSize='20px',
							icon='link',
							(click)='openBlank()')
			cub-form-field.full-width(
				size='xlarge',
				label='Đường dẫn bản đồ địa chỉ')
				input(
					cubFormFieldInput,
					autoFocusOn,
					placeholder='Nhập văn bản...',
					formControlName='addressMap',
					[valueControl]='config?.addressMap')
			cub-form-field.full-width(
				size='xlarge',
				label='Đường dẫn facebook')
				input(
					cubFormFieldInput,
					autoFocusOn,
					placeholder='Nhập văn bản...',
					formControlName='socialLink',
					[valueControl]='config?.socialLink')
			cub-form-field.full-width(
				size='xlarge',
				label='Đường dẫn zalo')
				input(
					cubFormFieldInput,
					autoFocusOn,
					placeholder='Nhập văn bản...',
					formControlName='zaloLink',
					[valueControl]='config?.zaloLink')
			cub-dropdown.full-width(
				label='Ngôn ngữ',
				size='xlarge',
				formControlName='language',
				[clearable]='false',
				[(valueControl)]='config.language')
				cub-dropdown-item(
					label='Tiếng việt',
					[value]='LANGUAGES.VN')
				cub-dropdown-item(
					label='Tiếng anh',
					[value]='LANGUAGES.EN')
	+else
		cub-loading
