cub-popup(
	#popup,
	width='100vw',
	height='100vh')
	cub-popup-header
		ng-template(cubPopupHeader)
			.layout-row.layout-align-space-between-center
				h4.text-nowrap
					+if('isNew')
						| Tạo mới khách hàng
					+else
						| Chỉnh sửa khách hàng
				.layout-row.layout-gap-12
					button.w-125(
						cubButton='secondary',
						(click)='close()')
						| Huỷ bỏ
					button.w-125(
						cubButton,
						[disabled]='!client?.name.length',
						(click)='save()')
						| Lưu
	cub-popup-content
		ng-template(cubPopupContent)
			.layout-row.flex.layout-gap-16.p-8
				.flex-30.layout-column.layout-gap-16
					cub-form-field(
						required,
						displayErrorMode='tooltip',
						label='Tiêu đề')
						input(
							cubFormFieldInput,
							autoFocusOn,
							placeholder='Nhập...',
							[formControl]='titleControl',
							[(valueControl)]='client.name')
					cub-form-field(
						displayErrorMode='tooltip',
						label='Mô tả')
						input(
							cubFormFieldInput,
							autoFocusOn,
							placeholder='Nhập...',
							[formControl]='storyControl',
							[(valueControl)]='client.story')
					.layout-column
						label.mb-6
							| Ảnh nền
						cub-file-upload([(files)]='files')
				cub-divider(vertical)
				cub-scroll-bar.h-vh-86
					cub-paragraph-editor(
						placeholder='Nhập mô tả chi tiết...',
						[data]='contentData',
						[raw]='contentRaw',
						(dataChange)=`onDescriptionChange()`)

p-toolbar(styleClass='mb-4 gap-2')
	ng-template(pTemplate='right')
		button(
			cubBasicButton,
			cubPopupTriggerDisableClose,
			size='large',
			[cubPopupTriggerOtherConfig]=`{
				resizable: true,
				disableClose: true,
				hasBackdrop: true,
				autoFocus: true,
				origin: null
			}`,
			[cubPopupTriggerFor]='popup',
			(mousedown)='newClient()')
			i.pi.pi-plus.mr-4
			| Thêm mới
	h4
		| Khách hàng

p-table(
	#clientTable,
	dataKey='id',
	currentPageReportTemplate='Hiển thị hàng từ {first} tới {last} của tổng {totalRecords} hàng',
	[resizableColumns]='true',
	[value]='clients',
	[rows]='10',
	[paginator]='true',
	[tableStyle]="{ 'min-width': '75rem' }",
	[rowHover]='true',
	[showCurrentPageReport]='true',)
	ng-template(pTemplate='header')
		tr
			th(style="width:3rem")
			th
				| Tên
			th
				| Mô Tả
			th.text-center
				| Ảnh Bìa
			th.text-center
				| Công Cụ
	ng-template(pTemplate='emptymessage')
		tr
			td([attr.colspan]='5')
				.text-center
					| (Trống)
	ng-template(pTemplate='body', let-o, let-index="rowIndex")
		tr.cursor(
			cubBasicButton,
			cubPopupTriggerDisableClose,
			size='large',
			[cubPopupTriggerOtherConfig]=`{
				resizable: true,
				hasBackdrop: true,
				autoFocus: true,
				origin: null
			}`,
			[cubPopupTriggerFor]='popup',
			(mousedown)='editClient( o )')
			td
			td.mr-12(style="max-width: 20rem")
				.text-truncate-multi-line([title]='o?.name | empty')
					| {{ o?.name }}
			td.mr-12(style="max-width: 20rem")
				.text-truncate-multi-line([title]='o?.story | empty')
					| {{ o?.story | empty }}
			td.text-center
				img.shadow-4([src]="o?.thumbnail?.thumbnailUrl", width='50')
			td
				.layout-row.layout-align-center-center.layout-gap-12.flex
					button(
						cubBasicButton,
						size='large',
						[cubPopupTriggerOtherConfig]=`{
							resizable: true,
							disableClose: true,
							hasBackdrop: true,
							autoFocus: true,
							origin: null
						}`,
						[cubPopupTriggerFor]='popup',
						(mousedown)='editClient( o )')
						i.pi.pi-pencil
					button.m-2(
						cubBasicButton,
						size='large',
						(click)='delete( o.id ); $event?.stopPropagation();')
						i.pi.pi-trash
	ng-template(pTemplate='summary')
		.d-flex.align-items-center.justify-content-between
			| Tổng cộng: {{ clients ? clients.length : 0 }}
